
/* Body */
main {
    display:flex;
    flex-direction: column;
    align-items: center;

}

.box {
    margin: 50px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.box h1 {
    font-family: Roboto;
    font-size: 3em;
    font-weight: 400;
    line-height: 56px;
    text-align: center;
}

.box p {
    font-family: Darker Grotesque;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.155em;
    text-align: center;

    max-width: 960px;
    margin-top: 50px;
}