


main {

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

/* Topo */
#topo {
    min-height: 98px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: space-between;

    margin: 33px;
}

#input {
    width: 958px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.barra {
    border: 1px solid #333333;

    width: 808px;
    height: 47px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.barra img {
    width: 33px;
    height: 33px;
}

.barra input {
    width: 90%;
    height: 90%;
    border: 0;

    font-family: Darker Grotesque;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;

}

#btn-add {
    
    background: #DEB959;
    color: white;

    border: 0;

    width: 130px;
    height: 47px;

    font-family: Darker Grotesque;
    font-size: 2.25em;
    font-weight: 600;
    line-height: 49px;

    display: flex;
    align-items: center;
    justify-content: center;
}

#checkbox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    width: 245px;

    font-family: Darker Grotesque;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 33px;
}

#checkbox input {
    width: 20px;
    height: 20px;
}



/* Lobos */
.btn-adotar {
    width: 157px;
    height: 45.92px;

    background-color: #DEB959;
    color: white;
    border: 0;

    font-family: Darker Grotesque;
    font-size: 2.25em;
    font-weight: 600;
    line-height: 49px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.btn-adotado {
    width: 157px;
    height: 45.92px;

    background-color: #7AAC3A;
    color: white;
    border: 0;

    font-family: Darker Grotesque;
    font-size: 2.25em;
    font-weight: 600;
    line-height: 49px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}


.exemplo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 45px;
}

.titulo-btn {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.um {
    flex-direction: row;
}

.um .exemplo-txt {
    text-align: left;
    margin-left: 50px;
}

.dois {
    flex-direction: row-reverse;
}

.dois .exemplo-txt {
    text-align: right;
    margin-right: 50px;
}

.dois .titulo-btn {
    flex-direction: row-reverse;
}

.exemplo-txt {
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.exemplo-txt p {
    width: 478px;
    font-family: Darker Grotesque;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 20px;

    margin-top: 28px;
}

.exemplo-txt h4{
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 700;
    font-size: 2.25em;
    line-height: 48.82px;
}

.exemplo-txt h6{
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 300;
    font-size: 1.25em;
    line-height: 27.12px;
}

.img {
    width: 430px;
    height: 328px;

    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;

}

.um .azul {
    z-index: -1;
    
    position: absolute;
    width: 430px;
    height: 328px;
    
    background: #2C5680;
    border: 4px solid #333333;
    box-sizing: border-box;
}

.um .azul-relative {
    position: relative;
    left: -470px;
    top: -200px;
}

.dois .azul {
    z-index: -1;
    
    position: absolute;
    width: 430px;
    height: 328px;
    
    background: #2C5680;
    border: 4px solid #333333;
    box-sizing: border-box;
}

.dois .azul-relative {
    position: relative;
    left: 40px;
    top: -200px;
}


/* Paginação */

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 32px;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    margin: 4px 8px;
    padding: 4px 8px;
    text-decoration: none;
}


.active {
    border: 1px solid
}

.none {
    display: none;
}
