@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;

}

.sublinhado {
    width: 99px;
    height: 5px;
    background-color: black;
}


/* Header */
header {
    position: sticky;
    top: 0;
}

header .container{
    min-height: 130px;
    background-color: #85CDF5;
    align-content: space-around;

    flex-direction: row;
    justify-content: space-around;
}

header a {
    font-family: "Darker Grotesque", sans-serif;
    font-size: 1.875em;
    font-weight: 700;
    color: black;
    text-decoration: none;
}

#nav-qs-relative {
    position: relative;
    top: -5px;
    left: -700px;
}

#nav-qs {
    position: absolute;
    background: black;
    height: 45px;
    width: 700px;
}

#nav-qs a {
    font-family: "Darker Grotesque", sans-serif;
    font-size: 1.875em;
    font-weight: 700;
    color: white;
    text-decoration: none;
}

nav {
    display: flex;
    height: 50px;
    width: 700px;

    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.grow .sublinhado{
    width: 0%;
    margin: 5px 1% 5px 1%;
    float: left;
    position: relative;
    transition: width 0.15s;
    -webkit-transition: width 0.15s;
    text-align: center;
    overflow: hidden;
}
.grow:hover .sublinhado{
    width: 145px;
}

.hidden {
    visibility: hidden;
}


#quem-somos h3 {
    padding: 5px;
}

#quem-somos {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-end;
    
}
