
/* Body */
main {
    display:flex;
    flex-direction: column;
    align-items: center;

}

.box {
    height: 874px;
    width: 956px;

    border: 2px solid;

    margin-top: 50px;
    margin-bottom: 112px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.box h1 {
    font-family: Darker Grotesque;
    font-size: 3.75em;
    font-weight: 600;
    line-height: 81px;
    text-align: center;
}

.box h2 {
    font-family: Darker Grotesque;
    font-size: 1.875em;
    font-weight: 500;
    line-height: 41px;
    text-align: left;
}

input {
    background-color: #E6E6E6;
    border: 1px solid #333333;
    height: 39px;

    font-family: Darker Grotesque;
    font-size: 1.5em;
}

#inp-nome {
    width: 564px;
}

#inp-anos {
    width: 177.14px;
}

#inp-link {
    width: 760.98px;
}

#inp-desc {
    height: 250px;
    width: 760px;

    font-family: Darker Grotesque;
    font-size: 1.5em;

    background-color: #E6E6E6;
    border: 1px solid #333333;

    resize: none;
    word-wrap: break-word;
    word-break: break-all;

}

#lista-cadastro {
    height: 569px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#li-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}


#btn-salvar {
    width: 209px;
    height: 60px;
    color: white;
    background-color: #2C5680;
    border: 1px solid #333333;

    font-family: Roboto;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 28px;

}
