

/* Footer */
footer {
    min-height: 270px;
    background-color: #333333;

    color: white;
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 400;
    font-size: 1.125em;
    line-height: 15px;
}

footer p {
    max-width: 461px;
    text-align: center;
}

#footer {
    width: 1050px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

#contato {
    height: 168px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

#contato li {
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
}


.icon {
    width: 15px;
    height: 15px;

    margin-right: 15px;
}


#btn-quem-somos {
    width: 144px;
    height: 30px;
    background-color: #DEB959;
    color: black;
}

#icone-pata {
    height: 168px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}
