@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

main {
    padding: 50px;
}

#p {

    width: 478px;

    font-family: Darker Grotesque;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 20px;
    text-align: left;    

    margin-top: 28px;
}


#nome {
    font-family: Roboto;
    font-size: 2.25em;
    font-weight: 900;
    line-height: 42px;
    text-align: left;

    margin-bottom: 30px;
}

#valores-lobo {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
}

.img {
    width: 430px;
    height: 328px;

    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;

    margin: 50px;

}

#btns {
    width: 430px;
    margin: 50px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}


.button {
    width: 180px;
    height: 56px;

    background-color: #7AAC3A;
    color: white;
    border: 0;

    font-family: Roboto;
    font-size: 1.125em;
    font-weight: 700;
    line-height: 21px;
    text-align: center;


    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#btn-excluir {
    background-color: #DE5959;
}

.azul {
    z-index: -1;
    
    position: absolute;
    width: 430px;
    height: 328px;
    
    background: #2C5680;
    border: 4px solid #333333;
    box-sizing: border-box;
}

.azul-relative {
    position: relative;
    left: 10px;
    top: -410px;
}


