
p {
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 400;
    text-align: center;
}

h2 {
    color: #DEB959;
    font-family: "Darker Grotesque", sans-serif;
    font-size: 3em;
    font-weight: 700;
    
    line-height: 65.09px;
}

h4 {
    font-family: "Darker Grotesque", sans-serif;
    font-size: 2.125em;
    font-weight: 700;
    line-height: 46.1px;
}


/* Main */
main {
    min-height: 2500px;
}


/* Adote */
#adote {
    
    min-height: 500px;
    background-image: url("../imgs/image-\(3\).png");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;

    color: white;
}

#adote h1 {
    font-family: "Darker Grotesque", sans-serif;
    font-size: 6em;
    font-weight: 700;
    line-height: 130.18px;
}

#adote p {
    font-family: "Darker Grotesque", sans-serif;

    max-width: 630px;
    font-size: 1.875em;
    line-height: 25px;


}

#adote .sublinhado {
    background-color: white;
    margin: 14px;
}


/* Sobre */
#sobre {
    min-height: 333px;
    background-color: #2C5680;

    justify-content: center;
}

#sobre p {
    max-width: 960px;

    color: white;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 32.54px;
    
}


/* Valores */
#cont-valores {
    min-height: 625px;
    background-color: #333333;

    color: white;

    justify-content: flex-start
}

#div-valores {
    width: 960px;
    display: flex;
}

#valores {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

#valor {
    display: flex;
}

#cont-valores h2 {
    margin: 15px;
}

#cont-valores p {
    font-size: 1.625em;
    max-width: 195px;
    line-height: 20px;
}

.valor img {
    width: 190px;
    height: 190px;
    background-color: #FAFAFA;
    border-radius: 95px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}


/* Lobos exemplo */
#cont-exemplos {
    min-height: 1040px;   

    justify-content: flex-start;
}

#cont2-exemplos {
    min-height: 930px;
    
    padding-top: 30px;
}

#exemplos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
    height: 900px
}


.azul {
    z-index: -1;
    
    position: absolute;
    width: 430px;
    height: 328px;
    
    background: #2C5680;
    border: 4px solid #333333;
    box-sizing: border-box;
}

.azul-relative {
    position: relative;
    left: -490px;
    top: -200px;
}

.exemplo {
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.lobo-exemplo {
    width: 430px;
    height: 328px;
    background: #333
}

.exemplo-txt {
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.exemplo-txt p {
    font-size: 1.5em;
    width: 461px;
    text-align: left;
    line-height: 20px;

    margin-top: 28px;
}

.exemplo-txt h4{
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 700;
    font-size: 2.25em;
    line-height: 48.82px;
}

.exemplo-txt h6{
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 300;
    font-size: 1.25em;
    line-height: 27.12px;
}
