/* Body */
main {
    display:flex;
    flex-direction: column;
    align-items: center;

}

.box {
    margin-top: 50px;
    margin-bottom: 50px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

#titulo {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: flex-start;
    justify-content: flex-start;
}

#campos {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;

    height: 300px;
}

#img-lobo {
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;

    margin-right: 50px;
    margin-bottom: 50px;
}

#li-1 {
    width: 100%;
    display: flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.box h1 {
    font-family: Darker Grotesque;
    font-size: 3.75em;
    font-weight: 600;
    line-height: 81px;
    text-align: left;
}

.box h2 {
    font-family: Darker Grotesque;
    font-size: 1.875em;
    font-weight: 500;
    line-height: 41px;
    text-align: left;
}

.box p {
    font-family: Darker Grotesque;
    font-size: 0.875em;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
    
    max-width: 498px;
}


.box figure {
    width: 200px;
    height: 200px;
    border-radius: 98px;
    background-color: #333333
}

.box input {
    height: 42px;

    font-family: Darker Grotesque;
    font-size: 1.5em;
    font-weight: 500;
    line-height: 41px;
    text-align: left;

    border: 0;
    border-bottom: 1px black solid;
}

#btn-adotar {
    width: 209px;
    height: 60px;
    color: white;
    background-color: #2C5680;
    border: 1px solid #333333;

    font-family: Darker Grotesque;
    font-size: 2.25em;
    font-weight: 600;
    line-height: 49px;

    margin-top: 50px
}

#inp-nome {
    width: 866px;
}

#inp-idade {
    width: 72px;
}

#inp-email {
    width: 960px;
}